<section id="sidenav">
  <article>
    <h3>Categories</h3>
    <div id="list">
      <span class="category active">All</span>
      <% if (categories != null && categories.length > 0) { %> <% for (let category of categories) {
      %>
      <span class="category"
        ><%= category.category.charAt(0).toUpperCase() + category.category.slice(1) %></span
      >
      <% } %> <% } %>
    </div>
  </article>
</section>
