<article class="contactus-grid">
  <form method="POST" id="form">
    <section class="firstname">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" />
    </section>
    <section class="lastname">
      <label for="lastname" class="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" />
    </section>
    <section class="email">
      <label for="email" class="email">E-mail</label>
      <input type="email" name="email" id="email" />
    </section>
    <section class="phone">
      <label for="phone" class="phone">Phone Number</label>
      <input type="tel" name="phone" id="phone" />
    </section>
    <section class="textarea-container">
      <label for="textinput">Message</label><br />
      <textarea name="textinput" id="textinput" value="textinput"></textarea>
    </section>
    <section class="submit-container">
      <input type="submit" value="Submit" />
    </section>
  </form>
</article>
