<article class="feedback-grid">
  <form method="POST" id="form">
    <section class="firstname">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" />
    </section>
    <section class="lastname">
      <label for="lastname" class="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" />
    </section>
    <section class="yesorno">
      <span>Are you happy with our site?</span><br />
      <input type="radio" id="yes" name="yesorno" value="yes" />
      <label for="yes" class="yes">Yes</label>
      <input type="radio" id="no" name="yesorno" value="no" />
      <label for="no">No</label>
    </section>
    <section class="textarea-container">
      <label for="textinput">Tell us your concerns.</label><br />
      <textarea name="textinput" id="textinput" value="textinput"></textarea>
    </section>
    <section class="rating-container">
      <label for="1">Rate the site from 1 to 5.</label><br />
      <input type="radio" id="1" name="rating" value="1" />
      <label for="1">1</label>
      <input type="radio" id="2" name="rating" value="2" />
      <label for="2">2</label>
      <input type="radio" id="3" name="rating" value="3" />
      <label for="3">3</label>
      <input type="radio" id="4" name="rating" value="4" />
      <label for="4">4</label>
      <input type="radio" id="5" name="rating" value="5" />
      <label for="5">5</label>
    </section>
    <section class="submit-container">
      <input type="submit" />
    </section>
  </form>
</article>
